.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.heading-text {
  font-size: 30px;
  font-weight: bold;
}

.heading-image {
  margin-left: 2rem;
}

.heading-image img {
  width: 50px;
  height: 50px;
}

#symbol-statement-plural {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img {
  color: transparent;
  max-width: 100px;
  max-height: 100px;
}

#game-status-message-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#game-status-message {
  font-size: 25px;
  font-weight: bold;
}

#wait {
  font-size: 25px;
  font-weight: bold;
}

#play-again-button {
  margin: 4rem 0;
  background-color: #1E1E1E;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 120px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

#play-again-button:hover {
  transform: scale(1.2, 1.2);
}