
.userData {
    width: 100%;
    padding: 2%;
    background-color: #D6D6D6;
    border-radius: 10px;
    z-index: 0;
}

.userDataRow {
    width: 100%;
}

.userDataTitle {
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial;
}

#userDataTitleUnderline {
    width: 40%;
    margin: auto;
}

#userDataTable {
    width: 100%;
    font-family: Arial;
    text-align: center;
}

#userDataTable tr {
    line-height: 2em;
}

.dataTitle {
    text-align: right;
    font-weight: bold;
    width: 49%;
}

.dataValue {
    text-align: left;
    width: 49%;
}


#userDataSpacer {
    width: 2%;
}

#editProfileDataButton {
    margin-top: 2em;
    width: 40%;
    max-height: 40px;
    font-family: Arial;
}